@font-face {
    font-family: "Robotica";
    src: url("fonts/Robotica.ttf");
}

@font-face {
    font-family: "Oxanium";
    src: url("fonts/oxanium/Oxanium-Regular.ttf");
}

@font-face {
    font-family: "Oxanium-Light";
    src: url("fonts/oxanium/Oxanium-Light.ttf");
}

@font-face {
    font-family: "Oxanium-Bold";
    src: url("fonts/oxanium/Oxanium-Bold.ttf");
}

body {
    background-color: #000022;
    padding: 1em;
}

h1 {
    font-family: "Robotica";
    color: #fbf5f3;
}

h2 {
    font-family: "Robotica";
    color: #000022;
}

h3 {
    font-family: "Robotica";
    color: #c42847;
    background-color: #e28413;
    padding-left: .5em;
    padding-right: .5em;
    padding-top: .2em;
    padding-bottom: .2em;
    border-radius: 1em;
}

label {
    font-family: "Oxanium";
    color: #000022;
}

span {
    font-family: "Oxanium-Bold";
    color: #c42847;
    background-color: #e28413;
    padding-left: .5em;
    padding-right: .5em;
    padding-top: .2em;
    padding-bottom: .2em;
    border-radius: 1em;
}

.identifier {
    float: right;
    width: 0px;
    position: relative;
    top: 1em;
    pointer-events: none;
}

.shipIcon {
    float: left;
    position: relative;
    font-size: 5em;
    background: none;
    top: -.55em;
    padding: 0px;
}

.shipIcon-super-capital {
    float: left;
    position: relative;
    font-size: 5em;
    background: none;
    top: -.55em;
    padding: 0px;
    color: #FEBD56;
}

.shipIndex-super-capital {
    background: none;
    padding:0px;
    color: #000022;
    position: relative;
    left: -1.75em;
}

.shipIcon-frigate {
    float: left;
    position: relative;
    font-size: 5em;
    background: none;
    top: -.55em;
    padding: 0px;
    color: #FEBD56;
}

.shipIndex-frigate {
    background: none;
    padding:0px;
    color: #000022;
    position: relative;
    left: -2.1em;
}

.shipIcon-station {
    float: left;
    position: relative;
    font-size: 5em;
    background: none;
    top: -.55em;
    padding: 0px;
    color: #FEBD56;
}

.shipIndex-station {
    background: none;
    padding:0px;
    color: #000022;
    position: relative;
    left: -1.85em;
}

.shipIcon-corvette {
    float: left;
    position: relative;
    font-size: 5em;
    background: none;
    top: -.55em;
    padding: 0px;
    color: #3779BA;
}

.shipIndex-corvette {
    background: none;
    padding:0px;
    color: #000022;
    position: relative;
    left: -1.6em;
}

.shipIcon-fighter {
    float: left;
    position: relative;
    font-size: 3em;
    background: none;
    top: -.55em;
    padding: 0px;
    color: #3779BA;
}

.shipIndex-fighter {
    background: none;
    padding:0px;
    color: #000022;
    position: relative;
    left: -1.75em;
}

.shipIcon-platform {
    float: left;
    position: relative;
    font-size: 2.5em;
    background: none;
    top: -.55em;
    padding: 0px;
    color: #3779BA;
}

.shipIndex-platform {
    background: none;
    padding:0px;
    color: #000022;
    position: relative;
    left: -1.5em;
}

select {
    font-family: "Oxanium-Light";
}

button {
    font-family: "Oxanium";
    font-weight: bold;
    border-radius: 1em;
    background-color: #c42847;
    color: #000022;
}

#headerSection {
    background-color: #de3c4b;
    border-radius: 1em;
    padding: 1em;
    margin-bottom: .5em;
    display: inline-block;
}

#headerIdentity {
    padding-top: .5em;
    padding-bottom: .25em;
}

#headerDetails {
    padding-top: .25em;
    padding-bottom: .5em;
}

#headerButtons {
    clear: both;
}

#add {
    background-color: #de3c4b;
    border-radius: 1em;
    padding: 1em;
    display: inline-block;
    margin-bottom: .5em;
}

#add div {
    margin: .5em;
}

#force {
    background-color: #de3c4b;
    border-radius: 1em;
    padding: 1%;
    display: inline-block;
    width: 98%;
}

#unassignedLeaders {
    background-color: #000022;
    border-radius: 1em;
    border: 1px #000022 solid;
    padding: .5em;
    padding-top: 1em;
    margin: .5em;
}

#units {
    background-color: #000022;
    border-radius: 1em;
    border: 1px #000022 solid;
    padding: .5em;
    padding-top: 1em;
    margin: .5em;
}

#emptySlots {
    background-color: #000022;
    border-radius: 1em;
    border: 1px #000022 solid;
    padding: .5em;
    padding-top: 1em;
    margin: .5em;
}

.entry {
    background-color: #fbf5f3;
    border-radius: 1em;
    padding: .25em;
    margin: .25em;
}

.commanderSection {
    background-color: #fbf5f3;
    border-radius: 1em;
    border: 1px #000022 dashed;
    padding: .25em;
    margin: .25em;
}

.removeButton {
    float: right;
    background-color: #de3c4b;
    color: #000022;
}

.emptySlot {
    background-color: #fbf5f3;
    border-radius: 1em;
    border: 1px #000022 dashed;
    padding: .25em;
    margin: .25em;
}

.emptyFreeSlot {
    font-family: "Oxanium";
    color: #000022;
    background-color: #e28413;
}

.emptyRequiredSlot {
    font-family: "Oxanium-Bold";
    color: #000022;
    background-color: #de3c4b;
}

.emptyOptionalSlot {
    font-family: "Oxanium-Bold";
    color: #e28413;
    background-color: #000022;
    border: 1px #c42847 dashed;
}

#forceWindow {
    position: fixed;
    top: 5em;
    left: 5em;
    background-color: #fbf5f3;
    padding: 1em;
    border-radius: 1em;
    border: 3px #000022 solid;
}

.forceEntry{
    display: inline-block;
}

.forceEntry span {
    margin-right: 1em;
    margin-top: .5em;
    margin-bottom: .5em;
}

.forceWindowButton {
    float:right;
}

.hidden {
    visibility: hidden;
}